{% extends "movies/base.html" %}
{% block content %}
<h1>
    Actor: {{ actor.name }}
    {% if user == actor.user or user.is_superuser %}
        (<a href="{% url 'movies:actor_edit' actor.id %}">edit</a>)
        (<a href="{% url 'movies:actor_delete' actor.id %}">delete</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: {{ actor.name }} <br/>
    Birthday: {{ actor.birthday }} <br/>
    Deathday: {{ actor.deathday }} <br/>
    Webpage: {{ actor.url }} <br/>
    City: {{ actor.city }}
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:city_actor_edit' actor.id %}">edit</a>)
    {% endif %}
    <br/>
    {%  if actor.image %}
        <p><img src="{{ actor.image.url }}"/></p>
    {% endif %}
    <br/>
</p>

<h2>
    Films
</h2>
<ul>
    {% for movie in movies %}
        <li><a href="{% url 'movies:movie_detail' movie.id 'html' %}">
            {{ movie.movie_name }}</a></li>
    {% empty %}<li>Sorry, no movies for this actor yet.</li>
    {% endfor %}
</ul>

{% endblock %}
{% block footer %}
    Created by {{ actor.user }} on {{ actor.id }}
{% endblock %}
