{% extends "movies/base.html" %}
{% block content %}
<h1>
    City: {{ city.city_name }}
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:city_edit' city.id %}">edit</a>)
        (<a href="{% url 'movies:city_delete' city.id %}">delete</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: {{ city.city_name }} <br/>
    State or province: {{ city.stateOrProvince }} <br/>
    Country: {{ city.country }} <br/>
</p>

<h2>
    Films
</h2>
<ul>
    {% for movie in movies %}
        <li><a href="{% url 'movies:movie_detail' movie.id 'html' %}">
            {{ movie.movie_name }}</a></li>
    {% empty %}<li>Sorry, no movies for this city yet.</li>
    {% endfor %}
</ul>
<h2>
    Actors
</h2>
<ul>
    {% for actor in actors %}
        <li><a href="{% url 'movies:actor_detail' actor.id 'html' %}">
            {{ actor.name }}</a></li>
    {% empty %}<li>Sorry, no actors for this city yet.</li>
    {% endfor %}
</ul>
<h2>
    Directors
</h2>
<ul>
    {% for director in directors %}
        <li><a href="{% url 'movies:director_detail' director.id 'html' %}">
            {{ director.name }}</a></li>
    {% empty %}<li>Sorry, no directors for this city yet.</li>
    {% endfor %}
</ul>
<h2>
    Companies
</h2>
<ul>
    {% for company in companies %}
        <li><a href="{% url 'movies:company_detail' company.id 'html' %}">
            {{ company.name }}</a></li>
    {% empty %}<li>Sorry, no companies for this city yet.</li>
    {% endfor %}
</ul>

{% endblock %}
{% block footer %}
    Created by {{ city.user }} on {{ city.id }}
{% endblock %}
