{% extends "movies/base.html" %}
{% block title %}Companies - {{ comany.name }}{% endblock %}
{% block content %}
<span vocab="http://schema.org" typeof="Organization">
<h1>
    Company: {{ company.name }}
    {% if user == company.user or user.is_superuser %}
        (<a href="{% url 'movies:company_edit' company.id %}">edit</a>)
        (<a href="{% url 'movies:company_delete' company.id %}">delete</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: <span property="name">{{ company.name }}</span> <br/>
    Description: <span property="description">{{ company.description }}</span> <br/>
    Webpage: <span property="url">{{ company.url }}</span> <br/>
    City:
    <span property="location" typeof="City">
        <span property="name">{{ company.city }}</span>
    </span> <br/>

    {% if user == movie.user or user.is_superuser %}
    (<a href="{% url 'movies:city_company_edit' company.id %}">edit</a>)
    {% endif %}
    <br/>
</p>

<h2>
    Films
</h2>
<ul>
    {% for movie in movies %}
        <li><a href="{% url 'movies:movie_detail' movie.id 'html' %}">
            {{ movie.movie_name }}</a></li>
    {% empty %}<li>Sorry, no movies for this company yet.</li>
    {% endfor %}
</ul>

{% endblock %}
{% block footer %}
    Created by {{ company.user }} on {{ company.id }}
{% endblock %}
