{% extends "movies/base.html" %}
{% block content %}
<h1>
    Company: {{ company.name }}
    {% if user == company.user %}
        (<a href="{% url 'movies:company_edit' company.id %}">edit</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: {{ company.name }} <br/>
    Description: {{ company.description }} <br/>
    Webpage: {{ company.url }} <br/>
    Country: {{ company.country }} (<a href="{% url 'movies:country_company_edit' company.id %}">edit</a>) <br/>
</p>

<h2>
    Films
</h2>
<ul>
    {% for movie in movies %}
        <li><a href="{% url 'movies:movie_detail' movie.id 'html' %}">
            {{ movie.name }}</a></li>
    {% empty %}<li>Sorry, no movies for this company yet.</li>
    {% endfor %}
</ul>

{% endblock %}
{% block footer %}
    Created by {{ company.user }} on {{ company.id }}
{% endblock %}
