{% extends "movies/base.html" %}
{% block content %}
<h1>
    Country: {{ country.name }}
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:country_edit' country.id %}">edit</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: {{ country.name }} <br/>
</p>

<h2>
    Films
</h2>
<ul>
    {% for movie in movies %}
        <li><a href="{% url 'movies:movie_detail' movie.id 'html' %}">
            {{ movie.name }}</a></li>
    {% empty %}<li>Sorry, no movies for this company yet.</li>
    {% endfor %}
</ul>
<h2>
    Actors
</h2>
<ul>
    {% for actor in actors %}
        <li><a href="{% url 'movies:actor_detail' actor.id 'html' %}">
            {{ actor.name }}</a></li>
    {% empty %}<li>Sorry, no actors for this country yet.</li>
    {% endfor %}
</ul>
<h2>
    Directors
</h2>
<ul>
    {% for director in directors %}
        <li><a href="{% url 'movies:director_detail' director.id 'html' %}">
            {{ director.name }}</a></li>
    {% empty %}<li>Sorry, no directors for this country yet.</li>
    {% endfor %}
</ul>
<h2>
    Companies
</h2>
<ul>
    {% for company in companies %}
        <li><a href="{% url 'movies:company_detail' company.id 'html' %}">
            {{ company.name }}</a></li>
    {% empty %}<li>Sorry, no companies for this country yet.</li>
    {% endfor %}
</ul>

{% endblock %}
{% block footer %}
    Created by {{ country.user }} on {{ country.id }}
{% endblock %}
