{% extends "movies/base.html" %}
{% block content %}
<h1>
    Director: {{ director.name }}
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:director_edit' director.id %}">edit</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: {{ director.name }} <br/>
    Birthday: {{ director.birthday }} <br/>
    Deathday: {{ director.deathday }} <br/>
    Webpage: {{ director.url }} <br/>
    Country: {{ director.country }}
    {% if user == movie.user or user.is_superuser %}
    (<a href="{% url 'movies:country_director_edit' director.id %}">edit</a>)
    {% endif %}
    <br/>
    {%  if director.image %}
        <p><img src="{{ director.image.url }}"/></p>
    {% endif %}
    <br/>
</p>

<h2>
    Films
</h2>
<ul>
    {% for movie in movies %}
        <li><a href="{% url 'movies:movie_detail' movie.id 'html' %}">
            {{ movie.name }}</a></li>
    {% empty %}<li>Sorry, no movies for this director yet.</li>
    {% endfor %}
</ul>

{% endblock %}
{% block footer %}
    Created by {{ director.user }} on {{ director.id }}
{% endblock %}
