{% extends "movies/base.html" %}
{% block title %}Directors - {{ director.name }}{% endblock %}
{% block content %}
 <span vocab="http://schema.org" typeof="Person">
<h1>
    Director: {{ director.name }}
    {% if user == director.user or user.is_superuser %}
        (<a href="{% url 'movies:director_edit' director.id %}">edit</a>)
        (<a href="{% url 'movies:director_delete' director.id %}">delete</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: <span property="name">{{ director.name }}</span> <br/>
    Birthday: <span property="birthDate">{{ director.birthday }}</span> <br/>
    Deathday: <span property="deathDate">{{ director.deathday }}</span> <br/>
    Webpage: <span property="url">{{ director.url }}</span> <br/>
    City: <span property="homeLocation">{{ director.city }}</span> <br/>

    {% if user == movie.user or user.is_superuser %}
    (<a href="{% url 'movies:city_director_edit' director.id %}">edit</a>)
    {% endif %}
    <br/>
    {%  if director.image %}
        <p><img src="{{ director.image.url }}"/></p>
    {% endif %}
    <br/>
</p>

<h2>
    Films
</h2>
<ul>
    {% for movie in movies %}
        <li><a href="{% url 'movies:movie_detail' movie.id 'html' %}">
            {{ movie.movie_name }}</a></li>
    {% empty %}<li>Sorry, no movies for this director yet.</li>
    {% endfor %}
</ul>

</span>
{% endblock %}
{% block footer %}
    Created by {{ director.user }} on {{ director.id }}
{% endblock %}
