{% extends "movies/base.html" %}
{% load staticfiles %}

{% block content %}

    <form method="post" enctype="multipart/form-data" action="">
        {% if user.is_authenticated %}
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit"/>
        {% endif %}
    </form>

    <script>
        $(function() {
            /* $.getJSON("{% static "countries.json" %}", {}, function (countries) {
                $("#id_nam").autocomplete({
                    source: countries
                });
            }); */
            $("#id_city_name").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "http://ws.geonames.org/searchJSON",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            maxRows: 10,
                            name_startsWith: request.term,
                            username: "demo"
                        },
                        success: function( data ) {
                            response( $.map( data.geonames, function( item ) {
                                return {
                                    label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                    value: item.name,
                                    stateOrProvince: item.adminName1,
                                    countryName: item.countryName
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function( event, ui ) {
                    if (ui.item) {
                        $("#id_stateOrProvince").val(ui.item.stateOrProvince);
                        $("#id_country").val(ui.item.countryName);
                    }
                }
            });

            $("#id_movie_name").autocomplete({
                source: function( request, response ) {
                    var query = request.term;
                    var api_key = "a8f7039633f2065942cd8a28d7cadad4";
                    $.ajax({
                        url: "http://api.themoviedb.org/3/search/movie?api_key="+api_key+"&query="+query,
                        dataType: "jsonp",
                        data: {
                            maxRows: 10,
                            name_startsWith: request.term,
                        },
                        success: function( data ) {
                            response( $.map( data.results, function( item ) {
                                return {
                                    label: item.original_title +", " + item.release_date,
                                    value: item.original_title,
                                    date: item.release_date,
                                    description: item.overview

                                }
                            }));
                        }
                    });
                },
                minLength: 2,

                select: function( event, ui ) {
                    if (ui.item) {
                        $("#id_movie_release_date").val(ui.item.date);
                        $("#id_description").val(ui.item.description);
                    }
                }

            });

            $("#id_name").autocomplete({
                source: function( request, response ) {
                    var query = request.term;
                    var api_key = "a8f7039633f2065942cd8a28d7cadad4";
                    $.ajax({
                        url: "http://api.themoviedb.org/3/search/person?api_key="+api_key+"&query="+query,
                        dataType: "jsonp",
                        data: {
                            maxRows: 10,
                            name_startsWith: request.term,
                        },
                        success: function( data ) {
                            response( $.map( data.results, function( item ) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                }
                            }));
                        }
                    });

                },
                minLength: 2,
            });


            $("#id_company_name").autocomplete({
                source: function( request, response ) {
                    var query = request.term;
                    var api_key = "a8f7039633f2065942cd8a28d7cadad4";
                    $.ajax({
                        url: "http://api.themoviedb.org/3/search/company?api_key="+api_key+"&query="+query,
                        dataType: "jsonp",
                        data: {
                            maxRows: 10,
                            name_startsWith: request.term,
                        },
                        success: function( data ) {
                            response( $.map( data.results, function( item ) {
                                return {
                                    label: item.name,
                                    value: item.name,
                                }
                            }));
                        }
                    });

                },
                minLength: 2,
            });

        });
    </script>



{% endblock %}
