{% extends "movies/base.html" %}
{% block content %}
<h1>
    {{ movie.movie_name }}
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:movie_edit' movie.id %}">edit</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: {{ movie.movie_name }} <br/>
    Release date: {{ movie.movie_release_date }} <br/>
    Description: {{ movie.description }} <br/>
    {%  if movie.image %}
        <p><img src="{{ movie.image.url }}"/></p>
    {% endif %}
    <br/>
</p>

<h2>
    Directors
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:director_add' movie.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for director in movie.directors.all %}
        <li><a href="{% url 'movies:director_detail' director.id 'html' %}">
            {{ director.name }}</a></li>
    {% empty %}<li>Sorry, no directors for this movie yet.</li>
    {% endfor %}
</ul>

<h2>
    Actors
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:actor_add' movie.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for actor in movie.actors.all %}
        <li><a href="{% url 'movies:actor_detail' actor.id 'html' %}">
            {{ actor.name }}</a></li>
    {% empty %}<li>Sorry, no actors for this movie yet.</li>
    {% endfor %}
</ul>

<h2>
    Companies
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:company_add' movie.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for company in movie.companies.all %}
        <li><a href="{% url 'movies:company_detail' company.id 'html' %}">
            {{ company.name }}</a></li>
    {% empty %}<li>Sorry, no company for this movie yet.</li>
    {% endfor %}
</ul>

<h2>
    Cities
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:city_add' movie.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for city in movie.cities.all %}
        <li><a href="{% url 'movies:city_detail' city.id 'html' %}">
            {{ city.city_name }}</a></li>
    {% empty %}<li>Sorry, no city for this movie yet.</li>
    {% endfor %}
</ul>

{% endblock %}
{% block footer %}
    Created by {{ movie.user }} on {{ movie.date }}
{% endblock %}
