{% extends "movies/base.html" %}
{% block title %}Movies - {{ movie.movie_name }}{% endblock %}
{% block content %}
<span vocab="http://schema.org" typeof="Movie">
<h1>
    {{ movie.movie_name }}
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:movie_edit' movie.id %}">edit</a>)
        (<a href="{% url 'movies:movie_delete' movie.id %}">delete</a>)
    {% endif %}
</h1>
<h2>Details:</h2>
<p>
    Name: <span property="name">{{ movie.movie_name }}</span> <br/>
    Release date: <span property="dateCreated">
                    {{ movie.movie_release_date }}
                </span> <br/>
    Description:
    <span property="description">{{ movie.description }}</span> <br/>
    {%  if movie.image %}
        <p><img property="image" src="{{ movie.image.url }}"/></p>
    {% endif %}
    <br/>
</p>

<h2>
    Directors
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:director_add' movie.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for director in movie.directors.all %}
        <li><a href="{% url 'movies:director_detail' director.id 'html' %}">
            <span property="director" typeof="Person">
                <span property="name">{{ director.name }}</span>
            </span>
        </a></li>
    {% empty %}<li>Sorry, no directors for this movie yet.</li>
    {% endfor %}
</ul>

<h2>
    Actors
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:actor_add' movie.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for actor in movie.actors.all %}
        <li><a href="{% url 'movies:actor_detail' actor.id 'html' %}">
            <span property="actor" typeof="Person">
                <span property="name">{{ actor.name }}</span>
            </span>
        </a></li>
    {% empty %}<li>Sorry, no actors for this movie yet.</li>
    {% endfor %}
</ul>

<h2>
    Companies
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:company_add' movie.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for company in movie.companies.all %}
        <li><a href="{% url 'movies:company_detail' company.id 'html' %}">
            <span property="productionCompany" typeof="Organization">
                <span property="name">{{ company.company_name }}</span>
            </span>
        </a></li>
    {% empty %}<li>Sorry, no company for this movie yet.</li>
    {% endfor %}
</ul>

<h2>
    Cities
    {% if user == movie.user or user.is_superuser %}
        (<a href="{% url 'movies:city_add' movie.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for city in movie.cities.all %}
        <li><a href="{% url 'movies:city_detail' city.id 'html' %}">
            <span property="countryOfOrigin" typeof="Country">
                <span property="name">{{ city.city_name }}</span>
            </span>
        </a></li>
    {% empty %}<li>Sorry, no city for this movie yet.</li>
    {% endfor %}
</ul>

</span>

{% endblock %}
{% block footer %}
    Created by {{ movie.user }} on {{ movie.date }}
{% endblock %}
